{% extends "leads/base.html" %} {% block title %} Create a lead. {% endblock %} {% block content %}

<h1 align='center'>Create a new lead</h1>


<form class="max-w-sm mx-auto" method='post'>
  {% csrf_token %}
  <div class="mb-5">
    <label
      for="first_name"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >First Name</label>
    <input
      type="text"
      id="first_name"
      name='first_name'
      class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
  </div>
  <div class="mb-5">
    <label
      for="last_name"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Last Name</label>
    <input
      type="text"
      id="last_name"
      name='last_name'
      class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
  </div>
  <div class="mb-5">
    <label
      for="age"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Age</label
    >
    <input
      type="number"
      id="age"
      name='age'
      class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>
  <div class="mb-5">
    <label
      for="description"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Description</label
    >
    <textarea
      id="description"
      name='description'
      class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    ></textarea>
  </div>
  <div class="mb-5">
    <label
      for="agent"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Agent</label
    >
    <select
      id="agent"
      name='agent'
      class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      {% for agent in agents %}
        <option value="{{ agent.id }}">First_agent</option>
      {% endfor %}
    </select>
  </div>
  <input type="submit" value="Submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
</form>
. {% endblock content %}